* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  /* font-size: 20px; */
}
.header-container {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

html {
  overflow-y: scroll;
}

html, body {
/* background-color: #EEE; */
height: 100%;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  /* flex: 1 0 auto; */
  /* border: 1px solid red; */
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  flex-shrink: 0;
  /* background-color: #FAFAFA; */
  padding: 20px 30px;
  color: #CCC;
  /* border-radius: 10px 10px 0 0; */
}

.footer-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

footer a:visited {
  color: #CCC;
}

footer a:link {
  color: #CCC;
}

.footer-links li {
  margin: 0 20px;
}

.footer-contact {
  text-align: center;
}

/* Banner */

header {
  /* display: inline-flex;
  flex-direction: column; */
  position: static;
  width: 100%;
  height: 130px;
  color: #FFF;
  background-color: #DDD;
}

.banner {
  padding: 3vh;
}

.banner-text h1 {
  margin: 0;
}

.banner-text {
  /* margin-top: -2vh;
  margin-bottom: -1.5vh; */
  font-size: 20px;
  text-align: center;
  color: #222;
}

.logo {
  position: absolute;
  left: 1vw;
  top: 1.1vh;
  height: 105px;
}

.logo-container {
    display: flex;
    float: left;
}

.menu {
  height: 60px;
}

.menu ul{
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.menu li {
  float: left;
  width: 100%;
  height: 100%;
}

.menu li a {
  display: flex;
  text-align: center;
  color: white;
  padding: 1vw 1vw 1vw 1vw;
  height: 100%;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.menu li a:hover {
  background-color: #999;
}

/* Content */
section {
  display: flex;
  padding: 20px 20%;
  flex-direction: column;
  /* border: 1px solid red; */
  font-size: 18px;
}

section ul {
  /* border: 1px solid red; */
  margin-bottom: -100px;
}

section:first-of-type {
  padding-top: 10%;
}

section h1 {
  font-size: 31px;
}

section li:last-of-type {
  margin-bottom: 20%;
}

.upcoming-conference {
  display: flex;
  text-align: center;
  font-size: 30px;
  /* margin: 2vh; */
  padding: 0 60px;
  justify-content: center;
  align-items: center;
}

.ESMR-h1 {
  margin-bottom: 60px;
}

.conf-container {
  display: flex;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}

ol {
  list-style-type: disc;
}

.content {
  /* margin-top: 200px; */
}

.minutes-grid {
  display: flex;
  justify-content: space-between;
}

.minutes {
  list-style-type: none;
}

.EMC ol{
  list-style-type: none;
}

/* Highlight reel */

.slideshow {
  display: none;
}

.highlight-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 0;
}

.highlight-reel {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 0;
  width: 1000px;
  height: 461px;
  background-color: black;
  display: flex;
  align-items: center;
  /* border: 1px dashed green; */
  /* overflow: hidden; Enable this for fill picture*/
}

.highlight-reel img {
  object-fit: cover;
  margin: 0 auto;
  height: 100%;
  max-width:100%;
  max-height:100%;
}
.animate-fading{animation:fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}90%{opacity:1}100%{opacity:0}}

/* This code will fill the container with the image */
/* .highlight-reel img {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
} */

/* Upcoming page */

.upcoming {
  margin-bottom: 40px;
  /* border: 1px solid red; */
}

/* Table stuff */

td, th {
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.1s;
}

th {
  background: #CCC;
  font-weight: bold;
}

td {
  width: 29%;
  height: 50px;
}

tr:nth-child(even) td {
  background: #EEE;
}

tr:nth-child(odd) td {
  background: #DDD;
}

td:first-child {
  width: 13%;
}

tr:hover td {
  background: #0f75bc;
  color: #f1e70d;
}

tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}
tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}


/* Contact page */

.about-wrapper {
  display: flex;
  /* border: 1px solid red; */
  margin: -40px 0;
  padding: 0;
}

 .about-item {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
   /* border: 1px solid red; */
   margin: 0;
   padding: 5% 20% 5% 20%;
 }

.about-item img {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 100px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.about-text-wrapper {
  /* display: inline-block; */
}

/* Mobile site */
@media only screen and (max-width: 500px) {
  section {
    margin-top: 100px;
    font-size: 20px;
  }

  section:first-of-type {
    padding-top: 0;
  }

  header {
    height: 180px;
  }

  .banner-text {
    width: 66%;
    margin-left: 33%;
  }

  .minutes-grid {
    display: flex;
    flex-direction: column;
  }

  .minutes-grid ol li {
    padding: 10px 0;
  }

  .menu ul{
    align-items: center;
  }

  .highlight-reel {
    width: 100%;
    height: auto;
  }

  .highlight-reel img {
      object-fit:scale-down;
  }

  .about-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .contact-picture {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-picture picture img {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .about-text-wrapper h2 {
    text-align: center;
  }

  .about-text-wrapper p {
    width: 100%;
    margin-left: 4%;
  }

  .logo {
    position: absolute;
    left: 3vw;
    top: 3vh;
    height: 90px;
  }

  .about-wrapper {
    margin: 0;
  }
}
