* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
}

html, body {
height: 100%;
}

body {
  font-size: calc(12px + 0.35vw);
  min-width: 350px;
}

/* Turn off right click to save images.*/
.highlight-container img {
  pointer-events: none;
}

/* Header */
header {
  position: static;
}

.header-container {
  position: relative;
  display: flex;
  width: 100%;
  /* height: 185px; */
  color: #FFF;
  background-color: #DDD;
  flex-wrap: wrap;
}

.logo-container {
  flex: 1;
  display: block;
}

.logo {
  margin-left: 20px;
  margin-top: calc(30px - 1vw);
  margin-right: 20px;
}

.logo-container img {
  transition: transform 0.5s ease;
}

.logo-container:hover img{
  transform: scale(1.2);
}

.banner-text {
  margin-top: -15px;
  font-size: 20px;
  text-align: center;
  color: #222;
  flex: 1;
}

.spacer {
flex: 1;
}

.menu {
  height: 60px;
  width: 100%;
  align-self: flex-end;
}

.banner-text h1 {
  margin-top: 20px;
  align-self: center;
  font-size: 50px;
  margin-bottom: 0;
}


.menu ul{
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  margin-top: 15px;
}

.menu li {
  float: left;
  width: 100%;
  height: 100%;
}

.menu li a {
  display: flex;
  text-align: center;
  color: white;
  padding: 1vw 1vw 1vw 1vw;
  height: 100%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 0.5vw);
  cursor: default;
}

.menu li a:hover {
  background-color: #999;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 100px 0;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 20px 30px;
  color: #CCC;
}

.footer-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer a:visited {
  color: #CCC;
}

footer a:link {
  color: #CCC;
}

.footer-links li {
  margin: 0 20px;
}

.footer-contact {
  text-align: center;
}

/* Content */
section {
  display: flex;
  padding: 0 20%;
  margin-bottom: 20px;
  flex-direction: column;
}

.upcoming-conference {
  display: flex;
  text-align: center;
  margin-top: -20px;
  padding: 0 60px;
  justify-content: center;
  align-items: center;
}


.conf-container {
  display: flex;
  font-size: calc(25px + 0.35vw);
}

a {
  text-decoration: none;
}

a:link {
  color: #0000EE;
}

a:visited {
  color: #0000EE;
}

ol {
  list-style-type: disc;
}

.minutes-grid {
  display: flex;
  justify-content: space-between;
}

.minutes {
  list-style-type: none;
}

.EMC ol{
  list-style-type: none;
}

/* Highlight reel */

.slideshow {
  display: none;
}

.highlight-container {
  padding: 0;
  margin: 0 auto;
  margin-bottom: -20px;
  width: 80%;
  height: 400px;
}

.highlight-reel {
  background-color: white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.highlight-reel img {
  margin: 0 auto;
}

.animate-fading{animation:fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}90%{opacity:1}100%{opacity:0}}


/* Upcoming page */

.upcoming {
  margin-bottom: 40px;
}

/* Table stuff */


.prev-table {
  padding: 0 14%;
}

.prev-table h1 {
  margin-bottom: 30px;
}

td, th {
  border: 1px solid transparent;
  text-align: center;
  transition: all 0.1s;
}

th {
  background: #CCC;
  font-weight: bold;
}

.calendar-container td {
  width: 27%;
  height: 50px;
}

tr:nth-child(even) td {
  background: #EEE;
}

tr:nth-child(odd) td {
  background: #DDD;
}

.calendar-container td:first-child {
  width: 8%;
}

.calendar-container td:last-child {
  width: 10%;
}

.calendar-container th {
  height: 40px;
}

.history-container {
  width: inherit;
}

.history-container td {
  width: 33.3%;
  height: 50px;
}

.history-container th {
  height: 40px;
}

tr:hover td {
  background: #0f75bc;
  color: #f1e70d;
}

tr:first-child th:first-child {
  border-radius: 5px 0 0 0;
}
tr:first-child th:last-child {
  border-radius: 0 5px 0 0;
}


/* Contact page */

.about-wrapper {
  padding: 0;
}

.about-item {
 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 margin-bottom: 10px;
 padding: 3% 20%;
}

.contact-picture {
 margin-bottom: 20px;
 margin-right: 10px;
 flex: 1;
}

.about-item img {
  width: 200px;
  margin: 0 20px;
  padding: 0;
  border-radius: 10px;
}

.about-text-wrapper {
  flex: 1;
  flex-basis: 420px;
  /* margin-left: 20px; */
}
